@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Playfair+Display&family=Poppins:wght@400;500;600;700&display=swap");
/* 
font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #281e41;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container > * {
  /* this will apply to all direct children of .flex-container */
  flex: 1; /* makes each child grow equally */
  width: 50%; /* set each child's width to 50% */
  margin: 20px 20px;
}
