.container-form {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center; /* This centers items vertically */
  justify-content: center; /* This centers items horizontally */
}

.preserve-format {
  white-space: pre-line;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* or "center" if you want them centered next to each other */
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-container > * {
  /* this will apply to all direct children of .flex-container */
  flex: 1; /* makes each child grow equally */
  width: 50%; /* set each child's width to 50% */
}



.btn {
  border-radius: 14px;
  color: white !important;
  background: #281e41;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
}

.btn:hover {
  background: #9f92b2;
  text-decoration: none;
}

.loading-icon {
  align-items: center; /* This centers items vertically */
  justify-content: center; /* This centers items horizontally */
}

.loading-container {
  position: fixed;   /* Fixes the position relative to the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;  /* Centers vertically */
  justify-content: center; /* Centers horizontally */
  z-index: 9999; /* Ensure it's on top of other elements */
  background-color: rgba(255,255,255,0.9); /* Optional: gives a slightly white background */
}