.container-form {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center; /* This centers items vertically */
  justify-content: center; /* This centers items horizontally */
}

.btn {
  border-radius: 14px;
  color: white !important;
  background: #281e41;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  font-size: 1rem;
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
}

.btn:hover {
  background: #9f92b2;
  text-decoration: none;
}


